.colorsBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 1.625rem;
  row-gap: 8px;
}

.colorsBox ul {
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 16px;
  list-style-type: none;
  isolation: isolate;
}

.colorsBox li {
  position: relative;
  cursor: pointer;
  transform: none;
  user-select: none;
  touch-action: pan-y;

  will-change: transform;
  transition: transform 0.2s ease;
  cursor: default;
}

.active {
  cursor: grab;
}

.colorsBox span {
  font-weight: var(--font-weight-medium);
  text-align: left;
}
