.dialogWrapper {
  inset: 0;
  margin: 0;
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: transparent;
  padding: 0;

  @media (min-width: 500px) {
  }
}

.dialogWrapper[open] {
  display: flex;
}
