.colorBoxWrapper {
  display: block;
  cursor: pointer;
  position: relative;
  aspect-ratio: 1 / 1;
  min-height: 60px;
  border-radius: 6px;
  border: 3px solid var(--border-color);
  background: var(--color-background);
}

.colorBox {
  position: absolute;
  inset: 3px;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  border-radius: 2px;
  background: var(--color-background);
  border: none;
  cursor: pointer;
  appearance: none;
  padding: 0;
}

.inactiveButton {
  display: block;
  cursor: pointer;
  position: relative;
  aspect-ratio: 1 / 1;
  min-height: 60px;
  border-radius: 6px;
  border: 3px solid var(--color-gray-100);
  background: var(--color-background);
}

.iconWrapper {
  position: absolute;
  inset: 0px;
  width: 32px;
  height: 32px;
  margin: auto;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty {
  background: repeating-conic-gradient(#ccc 0% 25%, #eee 0% 50%) 0 / 20px 20px;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}
