.colorInputWrapper {
  display: block;
  cursor: pointer;
  position: relative;
  aspect-ratio: 1 / 1;
  min-height: 60px;
  border-radius: 6px;
  border: 3px solid var(--border-color);
  background: var(--color-background);
}

.colorInput {
  position: absolute;
  inset: 3px;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  border-radius: 2px;
  background: var(--color-background);
  border: none;
  cursor: pointer;
  appearance: none;
  padding: 0;
}

.empty {
  background: repeating-conic-gradient(#ccc 0% 25%, #eee 0% 50%) 0 / 20px 20px;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.removeButton {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%, 100%);
  color: white;
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.colorBoxWrapper:hover .removeButton {
  transform: translate(-50%, 0%);
  opacity: 1;
  pointer-events: auto;
}
