.inputWrapper {
  display: block;
  position: relative;
  aspect-ratio: 1 / 1;
  min-height: 60px;
  background: var(--color-background);
  border-radius: 6px;
  border: 3px solid var(--border-color);
  z-index: 1;
}

.input {
  position: absolute;
  inset: 3px;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  border-radius: 2px;
  background: var(--color-background);
  border: none;
  cursor: pointer;
  appearance: none;
  padding: 0;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.removeButton {
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  opacity: 0;
  transform: translateY(0px);
  transition:
    opacity 0.2s,
    transform 0.3s;
  color: #fff;
  cursor: pointer;
}

.colorPickerInputWrapper:hover .removeButton {
  opacity: 1;
  transform: translateY(40px);
}
