.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  row-gap: 8px;
}

.info {
  font-weight: var(--font-weight-bold);
  text-align: start;
}

.boxWrapper {
  position: relative;
  width: 250px;
  height: 250px;

  border: 3px solid var(--color-gray-300);
  border-radius: 6px;

  background: #242424;
  background: radial-gradient(var(--color-gray-300) 1px, transparent 0);
  background-size: 40px 40px;
}

.svg {
  display: block;
  overflow: visible;
}

.handle {
  transform: translate(-50%, -50%);
  top: 0;
  left: 0;
  will-change: transform;
  border-radius: 50%;

  width: 24px;
  height: 24px;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  display: block;
  overflow: visible;
}

.svgWrapper {
  position: absolute;
  --inset-by: 8px;

  top: calc(var(--inset-by));
  left: calc(var(--inset-by));
  right: calc(var(--inset-by));
  bottom: calc(var(--inset-by));
}

.button {
  cursor: pointer;
  padding: 4px 0;
  font-size: 0.875rem;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  border: 2px solid var(--color-gray-100);
  border-radius: 4px;
  color: white;
  background: transparent;
}

.button:hover {
  border: 2px solid var(--color-gray-300);
}

.buttonsWrapper {
  display: flex;
  column-gap: 8px;
}
